<div class="container content">
  <div class="row">
    <div id="newsfeed" class="col-lg-6">
      <h4><%= fa_icon "newspaper-o" %> FITFEED</h4>
      <div id="activities">
        
      </div>
    </div>
  </div>  
</div>
